*~
*.log
*.db

.project
.pydevproject
.settings/

/config/deps
/config/secrets.yaml
/config/google_calendars.yaml
/config/known_devices.yaml
/config/internet_sites.yaml
/config/zones.yaml

/home-assistant
/home-assistant.github.io

/TODO.txt

/build
