
# Main password
api_password: yourpassword

# Devices
laptop_ip: 192.168.0.10

# Google API Key (for travel distance)
google_api_key:

# Google Calendar
google_calendar_client_id:
google_calendar_client_secret:

# Telegram API key and Chat ID
telegram_api_key:
telegram_chat_id:

# API.AI access token
apiai_query_command: ext/apiai/cli/apiai-client.py -a <APIAI_TOKEN> "{{ query }}"

# Media Players
mediaplayer_tvlg:
mediaplayer_mpdlaptop:

# Work email IMAP
work_imap_host:
work_imap_username:
work_imap_password:

# Configuration of the fortunes command for quotes
fortune_command: 'fortune'

# Geo
home_lat:
home_lon:
home_address: Address

work_lat:
work_lon:
work_address: Address

place1_lat:
place1_lon:
place1_address: Address





